$main-color: #282c34;
$highlight-color: #40444c;
$sub-color: white;

.App {
  background-color: $main-color;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-color;
}

#quote-box {
  background-color: $sub-color;
  border-style: solid;
  border-color: $sub-color;
  border-radius: 6px;
  width: 500px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

  font-size: calc(10px + 2vh);
  text-align: center;

  #text {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 5px;
  }

  #author {
    margin-top: 5px;
    font-size: 60%;
    width: 450px;
    flex-direction: row;
    text-align: right;
  }

  #button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #new-quote {
    background-color: $main-color;
    color: $sub-color;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;
  }

  #new-quote:hover {
    background-color: $highlight-color;
  }
}
